<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xziar.enhancer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.TaskViewActivity" />
        <activity android:name=".activity.PostViewActivity" />
        <activity
            android:name=".activity.AddTaskActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AddPostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.TaskOgActivity" />
        <activity android:name=".activity.TaskFnActivity" />
        <activity android:name=".activity.MyPostActivity" />
        <activity android:name=".activity.MyTaskActivity" />
    </application>

</manifest>